<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SharePointClientId" value="33206122-2f2d-42e1-b966-aa5c31072ec5"/>
    <add key="SharePointClientSecret" value="QPkA5fZEkA88NmTyXwjmYtOQwajciziktWge3vC3R1k="/>
    <add key="SharePointSiteUrl" value="https://codeholio.sharepoint.com/sites/sampledevsite"/>
  </appSettings>  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.1.3912.1204" newVersion="16.1.3912.1204" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client.Runtime" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.1.3912.1204" newVersion="16.1.3912.1204" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>