<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SharePointClientId" value="33206122-2f2d-42e1-b966-aa5c31072ec5"/>
    <add key="SharePointClientSecret" value="QPkA5fZEkA88NmTyXwjmYtOQwajciziktWge3vC3R1k="/>
    <add key="SharePointSiteUrl" value="https://codeholio.sharepoint.com/sites/sampledevsite/social365"/>
    <add key="SharePointListName" value="SocialFeeds"/>
    <add key="SocialMediaQuery" value="brexit"/>
    <add key="TwitterConsumerKey" value="k0lKFT9Z3IdCT1emt2DG8V60u" />
    <add key="TwitterConsumerSecret" value="9MXGpYQcHk7v9hxjnc0nbIiQQ3tUiSWEgHsQiLxsYtle4UFfsW" />
    <add key="InstagramClientKey" value="19e50e97291e46578572808a778990db" />
    <add key="InstagramClientSecret" value="af140d59a01d405e820be4e21e32017b" />
    <add key="GoogleAPIKey" value="AIzaSyCronqC5w-sxl89EmtSM7NYXFJLsnuTX48" />
  </appSettings>  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.1.3912.1204" newVersion="16.1.3912.1204" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client.Runtime" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.1.3912.1204" newVersion="16.1.3912.1204" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>