<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SharePointClientId" value="YourSPClientIDHere"/>
    <add key="SharePointClientSecret" value="YourSPClientSecretHere="/>
    <add key="SharePointSiteUrl" value="YourSPSiteUrlHere"/>
    <add key="SharePointListName" value="SocialFeeds"/>
    <add key="SocialMediaQuery" value="brexit"/>
    <add key="TwitterConsumerKey" value="YourTwitterConsumerKeyHere" />
    <add key="TwitterConsumerSecret" value="YourTwitterConsumerSecretHere" />
    <add key="InstagramClientKey" value="YourInstagramClientKeyHere" />
    <add key="InstagramClientSecret" value="YourInstagramClientSecretHere" />
    <add key="GoogleAPIKey" value="YourGoogleAPIKeyHere" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.1.3912.1204" newVersion="16.1.3912.1204" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client.Runtime" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.1.3912.1204" newVersion="16.1.3912.1204" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>